.intro {
  box-sizing: border-box;
  width: 100%;
  max-width: 1080px;
  padding: 92px 48px;
  display: grid;
  grid-template-columns: 690px;
}

@media screen and (max-width: 768px) {
  .intro {
    grid-template-columns: fit-content(720px);
    padding: 88px 24px;
  }
}

@media screen and (max-width: 475px) {
  .intro {
    padding: 64px 16px;
  }
}