.cover {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  max-height: 740px;
  padding: 0px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0px;
  }
}